output
scenario/ic.scn
data/cache
data/grib
data/performance/BADA/*
!/data/performance/BADA/README.md

# Sphinx documentation
docs/_build/

# virtual environment
venv

# PyBuilder
target/

.DS_Store
settings.cfg
*.bak
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Editor project files
*.sublime*
*.atom-build*
*.build-tools*
.idea/*
.vscode/*

# C extensions
*.so

# Distribution / packaging
__pycache__
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
tmp/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.mypy_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

data/cache
data/performance/BADA/*
!/data/performance/BADA/README
ssd.obj

# IPython
*-checkpoint.py
*-checkpoint.ipynb
.ropeproject/config.py
