recursive-include bluesky *
recursive-exclude bluesky *.pyc *-checkpoint.py
global-exclude *__pycache__*
global-exclude *src_cpp*
recursive-exclude bluesky .DS_Store
include LICENSE
include README.md
include setup.py
include check.py
include requirements.txt
include Makefile
prune docs
prune extra
prune plugins
prune scenario
prune utils
prune bluesky/resources/graphics
prune bluesky/resources/html
prune bluesky/resources/navdata
prune bluesky/resources/performance
